<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>@ViewBag.Title</title>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.6.4.js"></script>
    <script src="~/Scripts/json2.js"></script>
    <script src="~/Scripts/jquery.signalR-0.5.3.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
