body {
    font-family: 'Segoe UI';
}

h2 {
    font-weight: normal;
}

ul#messages {
    margin: 0;
}

    ul#messages li {
        -moz-border-radius: 15px;
        border-radius: 15px;
        list-style-type: none;
        margin: 5px;
        background: #bdcfe0;
        padding: 15px;
    }
